@page "/"

<div class="center-container" style="">
    <h1>BRIAN BIRICHI</h1>

    <p>
        Methodical full stack software engineer, with over 3 years of experience in mobile
        and web application development, eager to contribute to team success through hard
        work, attention to detail and excellent organizational skills
    </p>
</div>

@code {

}
