@page "/education"

<div>
    <h1>Education</h1>

    <div class="data-box">
        <h4>Multimedia University of Kenya</h4>
        <p class="sub-heading">2014 - 2018</p>
        <p>Bachelor of Science in Software Engineering</p>
        <p>2nd Class Honors, Upper Division</p>
    </div>

    <div class="data-box">
        <h4>Nyeri High School</h4>
        <p class="sub-heading">2010 - 2013</p>
        <p>KCSE</p>
        <p>A-</p>
    </div>

    <div class="data-box">
        <h4>Gilgil Hills Academy</h4>
        <p class="sub-heading">2001 - 2009</p>
        <p>KCPE</p>
        <p>A</p>
    </div>
    
</div>


@code {

}
