@page "/education"

<div class="center-container">
    <h1>Education</h1>

    <div style="display: flex; flex-direction:column; padding-bottom: 5rem;">
        <div style="display: flex; flex-direction: row">
            <h4 style="flex: 4 1">Multimedia University of Kenya</h4>
            <p style="flex: 4 1">2014 - 2018</p>
        </div>
        <div>
            <p>Bachelor of Science in Software Engineering</p>
            <p>2nd Class Honors, Upper Division</p>
        </div>
    </div>

    <div style="display: flex; flex-direction:column; padding-bottom: 5rem;">
        <div style="display: flex; flex-direction: row">
            <h4 style="flex: 4 1">Nyeri High School</h4>
            <p style="flex: 4 1">2010 - 2013</p>
        </div>
        <div>
            <p>KCSE</p>
            <p>A-</p>
        </div>
    </div>

    <div style="display: flex; flex-direction:column; padding-bottom: 5rem;">
        <div style="display: flex; flex-direction: row">
            <h4 style="flex: 4 1">Gilgil Hills Academy</h4>
            <p style="flex: 4 1">2001 - 2009</p>
        </div>
        <div>
            <p>KCPE</p>
            <p>A</p>
        </div>
    </div>
    
</div>


@code {

}
