@page "/education"

<div>
    <h1>Education</h1>

    <div class="data-box">
        <h4>Multimedia University of Kenya</h4>
        <h5 class="sub-heading">Bachelor of Science in Software Engineering</h5>
        <p class="sub-heading">2014 - 2018</p>        
        <p>2nd Class Honors, Upper Division</p>
    </div>

    <div class="data-box">
        <h4>Nyeri High School</h4>
        <h5 class="sub-heading">Kenya Certificate of Secondary Education</h5>
        <p class="sub-heading">2010 - 2013</p>        
        <p>Grade: A-</p>
    </div>

    <div class="data-box">
        <h4>Gilgil Hills Academy</h4>
        <h5 class="sub-heading">Kenya Certificate of Primary Education</h5>
        <p class="sub-heading">2001 - 2009</p>        
        <p>Grade: A</p>
    </div>
    
</div>


@code {

}
