@page "/experience"

<div>
    <h1>Experience</h1>

    <div class="data-box">
        <h3>Xamarin Developer</h3>
        <h4 class="sub-heading">Clyn Technologies</h4>
        <p style="">Oct 2020 - May 2022</p>
        <p>
            Recruited to collaborate with a US-based development team to create bespoke mobile
            applications for both Android and iOS, that connected cleaners to their clients.
        </p>
        <p>Technogies Used:</p>
        <p>
            .NET Framework, C#, Xamarin, XAML, SQL, Azure, Firebase,
            Checkr
        </p>
    </div>

    <div class="data-box">
        <h3>ICT Support Intern</h3>
        <h4 class="sub-heading">Public Service Commission, Judiciary </h4>
        <p class="sub-heading">May 2021 - May 2022</p>
        <p>
            part of the public service internship programme, cohort 3 and was placed to
            intern at Milimani Law Courts.
        </p>
    </div>

    <div class="data-box">
        <h3>Junior Software Engineer</h3>
        <h4 class="sub-heading">Sulis East Africa, Nairobi</h4>
        <p class="sub-heading">Sept 2018 - Sept 2020</p>
        <p>
            Joined the Sulis Software Development team for my final university attachment
            program and assisted in creation of web and android applications used by water-meter
            readers in capturing meter readings.
        </p>
        <p>Technogies Used:</p>
        <p>
            NET framework, C#, Java, HTML, CSS, JavaScript
        </p>
    </div>

    <div class="data-box">
        <h3>Software Engineering Intern</h3>
        <h4 class="sub-heading">Extra Inch Technologies, Nairobi</h4>
        <p class="sub-heading">June 2016 - August 2016</p>
        <p>
            Applied for and got assigned to Extra Inch Technologies for my first university
            attachment program where I worked on creation of web applications and database
            development as an intern on their software development team
        </p>
        <p>Technogies Used:</p>
        <p>
            HTML, CSS, JavaScript, SQL
        </p>
    </div>
</div>


@code {

}
