@page "/experience"

<div class="">
    <h1 style="text-align: center">Experience</h1>

    <div style="display: flex; flex-direction: column; padding-bottom:5rem;">
        <div style="display: flex; flex-direction: row;">
            <h3 style="flex: 1; flex-wrap: wrap;">Xamarin Developer</h3>
            <p style="">Oct 2020 - May 2022</p>
        </div>
        <h4>Clyn Technologies</h4>
        <p>
            Recruited to collaborate with a US-based development team to create bespoke mobile
            applications for both Android and iOS, that connected cleaners to their clients.
        </p>
        <p>Technogies Used:</p>
        <p>
            .NET Framework, C#, Xamarin, XAML, SQL, Azure, Firebase,
            Checkr
        </p>
    </div>

    <div style="display: flex; flex-direction: column; padding-bottom:5rem;">
        <div style="display: flex; flex-direction: row;">
            <h3 style="flex: 1; flex-wrap: wrap;">
                ICT Support Intern
                </h3>
            <p style="">
                May 2021 - May
                2022
            </p>
        </div>
        <h4>Public Service Commission, Judiciary </h4>
        <p>
            part of the public service internship programme, cohort 3 and was placed to
            intern at Milimani Law Courts.
        </p>
    </div>

    <div style="display: flex; flex-direction: column; padding-bottom:5rem;">
        <div style="display: flex; flex-direction: row;">
            <h3 style="flex: 1; flex-wrap: wrap;">Junior Software Engineer</h3>
            <p style="">Sept 2018 - Sept 2020</p>
        </div>
        <h4>Sulis East Africa, Nairobi</h4>
        <p>
            Joined the Sulis Software Development team for my final university attachment
            program and assisted in creation of web and android applications used by water-meter
            readers in capturing meter readings.
        </p>
        <p>Technogies Used:</p>
        <p>
            NET framework, C#, Java, HTML, CSS, JavaScript
        </p>
    </div>

    <div style="display: flex; flex-direction: column; padding-bottom:5rem;">
        <div style="display: flex; flex-direction: row;">
            <h3 style="flex: 1; flex-wrap: wrap;">Software Engineering Intern</h3>
            <p style="">
                June 2016
                - August 2016
            </p>
        </div>
        <h4>Extra Inch Technologies, Nairobi</h4>
        <p>
            Applied for and got assigned to Extra Inch Technologies for my first university
            attachment program where I worked on creation of web applications and database
            development as an intern on their software development team
        </p>
        <p>Technogies Used:</p>
        <p>
            HTML, CSS, JavaScript, SQL
        </p>
    </div>
</div>


@code {

}
