@page "/projects"

<div>
    <h1 class="heading">Projects</h1>

    <div class="data-box">
        <h2 class="sub-heading">Pong</h2>
        <p>A recreation of the classic pong game using the Unity Engine. Available for download on itch.io</p>
        <div class="screenshot-div">
            <img src="../img/Pong/pong-title.png" />
            <img src="../img/Pong/pong-game-1.png" />
            <img src="../img/Pong/pong-game-2.png" />
        </div>
        <div class="download-div">
            <a href="https://ontheedge.itch.io/pong" class="download-link" target="_blank">
                <span>
                    <svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 512 512">
                        <path d="M480 352h-133.5l-45.25 45.25C289.2 409.3 273.1 416 256 416s-33.16-6.656-45.25-18.75L165.5 352H32c-17.67 0-32 14.33-32 32v96c0 17.67 14.33 32 32 32h448c17.67 0 32-14.33 32-32v-96C512 366.3 497.7 352 480 352zM432 456c-13.2 0-24-10.8-24-24c0-13.2 10.8-24 24-24s24 10.8 24 24C456 445.2 445.2 456 432 456zM233.4 374.6C239.6 380.9 247.8 384 256 384s16.38-3.125 22.62-9.375l128-128c12.49-12.5 12.49-32.75 0-45.25c-12.5-12.5-32.76-12.5-45.25 0L288 274.8V32c0-17.67-14.33-32-32-32C238.3 0 224 14.33 224 32v242.8L150.6 201.4c-12.49-12.5-32.75-12.5-45.25 0c-12.49 12.5-12.49 32.75 0 45.25L233.4 374.6z" />
                    </svg>
                </span>
                Download
            </a>
        </div>        
    </div>

    <div class="data-box">
        <h2 class="sub-heading">Morse Code</h2>
        <p>An app that encodes input string into morse code.</p>
        <div class="screenshot-div">
            <img src="../img/Morse/morse-title.png" />
            <img src="../img/Morse/morse-1.png" />
            <img src="../img/Morse/morse-2.png" />
        </div>
        <div class="download-div">
            <a href="https://play.google.com/store/apps/details?id=com.birichiLabs.morsecodeapp" class="download-link" target="_blank">
                <span>
                    <svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 512 512">
                        <path d="M480 352h-133.5l-45.25 45.25C289.2 409.3 273.1 416 256 416s-33.16-6.656-45.25-18.75L165.5 352H32c-17.67 0-32 14.33-32 32v96c0 17.67 14.33 32 32 32h448c17.67 0 32-14.33 32-32v-96C512 366.3 497.7 352 480 352zM432 456c-13.2 0-24-10.8-24-24c0-13.2 10.8-24 24-24s24 10.8 24 24C456 445.2 445.2 456 432 456zM233.4 374.6C239.6 380.9 247.8 384 256 384s16.38-3.125 22.62-9.375l128-128c12.49-12.5 12.49-32.75 0-45.25c-12.5-12.5-32.76-12.5-45.25 0L288 274.8V32c0-17.67-14.33-32-32-32C238.3 0 224 14.33 224 32v242.8L150.6 201.4c-12.49-12.5-32.75-12.5-45.25 0c-12.49 12.5-12.49 32.75 0 45.25L233.4 374.6z" />
                    </svg>
                </span>
                Download
            </a>
        </div>
    </div>

    <div class="data-box">
        <h2 class="sub-heading">Caesar Cipher</h2>
        <p>Encode your text using ceasar cipher encryption technique.</p>
        <div class="screenshot-div">
            <img src="../img/Caesar/caesar-title.png" />
            <img src="../img/Caesar/caesar-1.png" />
            <img src="../img/Caesar/caesar-2.png" />
        </div>
        <div class="download-div">
            <a href="https://play.google.com/store/apps/details?id=com.birichi.caesarcipher" class="download-link" target="_blank">
                <span>
                    <svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 512 512">
                        <path d="M480 352h-133.5l-45.25 45.25C289.2 409.3 273.1 416 256 416s-33.16-6.656-45.25-18.75L165.5 352H32c-17.67 0-32 14.33-32 32v96c0 17.67 14.33 32 32 32h448c17.67 0 32-14.33 32-32v-96C512 366.3 497.7 352 480 352zM432 456c-13.2 0-24-10.8-24-24c0-13.2 10.8-24 24-24s24 10.8 24 24C456 445.2 445.2 456 432 456zM233.4 374.6C239.6 380.9 247.8 384 256 384s16.38-3.125 22.62-9.375l128-128c12.49-12.5 12.49-32.75 0-45.25c-12.5-12.5-32.76-12.5-45.25 0L288 274.8V32c0-17.67-14.33-32-32-32C238.3 0 224 14.33 224 32v242.8L150.6 201.4c-12.49-12.5-32.75-12.5-45.25 0c-12.49 12.5-12.49 32.75 0 45.25L233.4 374.6z" />
                    </svg>
                </span>
                Download
            </a>
        </div>
    </div>

    <div class="data-box">
        <h2 class="sub-heading">Give me a task</h2>
        <p>An app that utilizes the boredapi to suggest random tasks to be completed during your free time.</p>
        <div class="screenshot-div">
            <img src="../img/Task/task-1.png" />
            <img src="../img/Task/task-2.png" />
            <img src="../img/Task/task-4.png" />
        </div>
        <div class="download-div">
            <a href="https://play.google.com/store/apps/details?id=com.birichi.givemeatasks" class="download-link" target="_blank">
                <span>
                    <svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 512 512">
                        <path d="M480 352h-133.5l-45.25 45.25C289.2 409.3 273.1 416 256 416s-33.16-6.656-45.25-18.75L165.5 352H32c-17.67 0-32 14.33-32 32v96c0 17.67 14.33 32 32 32h448c17.67 0 32-14.33 32-32v-96C512 366.3 497.7 352 480 352zM432 456c-13.2 0-24-10.8-24-24c0-13.2 10.8-24 24-24s24 10.8 24 24C456 445.2 445.2 456 432 456zM233.4 374.6C239.6 380.9 247.8 384 256 384s16.38-3.125 22.62-9.375l128-128c12.49-12.5 12.49-32.75 0-45.25c-12.5-12.5-32.76-12.5-45.25 0L288 274.8V32c0-17.67-14.33-32-32-32C238.3 0 224 14.33 224 32v242.8L150.6 201.4c-12.49-12.5-32.75-12.5-45.25 0c-12.49 12.5-12.49 32.75 0 45.25L233.4 374.6z" />
                    </svg>
                </span>
                Download
            </a>
        </div>
    </div>
</div>


@code {

}
