/* /Pages/About.razor.rz.scp.css */
/* /Pages/Education.razor.rz.scp.css */

/* /Pages/Experience.razor.rz.scp.css */
/* /Shared/MainLayout.razor.rz.scp.css */
.page[b-9gvj8xx0cb] {
    position: relative;
    display: flex;
    flex-direction: column;
}

main[b-9gvj8xx0cb] {
    flex: 1;
}

.sidebar[b-9gvj8xx0cb] {
/*    background-image: linear-gradient(180deg, rgb(5, 39, 103) 0%, #3a0647 70%);*/
    background-color: #3a0647;
}

.top-row[b-9gvj8xx0cb] {
    background-color: #f7f7f7;
    border-bottom: 1px solid #d6d5d5;
    justify-content: flex-end;
    height: 3.5rem;
    display: flex;
    align-items: center;
}

    .top-row[b-9gvj8xx0cb]  a, .top-row[b-9gvj8xx0cb]  .btn-link {
        white-space: nowrap;
        margin-left: 1.5rem;
        text-decoration: none;
    }

    .top-row[b-9gvj8xx0cb]  a:hover, .top-row[b-9gvj8xx0cb]  .btn-link:hover {
        text-decoration: underline;
    }

    .top-row[b-9gvj8xx0cb]  a:first-child {
        overflow: hidden;
        text-overflow: ellipsis;
    }

@media (max-width: 640.98px) {
    .top-row:not(.auth)[b-9gvj8xx0cb] {
        display: none;
    }

    .top-row.auth[b-9gvj8xx0cb] {
        justify-content: space-between;
    }

    .top-row[b-9gvj8xx0cb]  a, .top-row[b-9gvj8xx0cb]  .btn-link {
        margin-left: 0;
    }
}

@media (min-width: 641px) {
    .page[b-9gvj8xx0cb] {
        flex-direction: row;
    }

    .sidebar[b-9gvj8xx0cb] {
        width: 250px;
        height: 100vh;
        position: sticky;
        top: 0;
    }

    .top-row[b-9gvj8xx0cb] {
        position: sticky;
        top: 0;
        z-index: 1;
    }

    .top-row.auth[b-9gvj8xx0cb]  a:first-child {
        flex: 1;
        text-align: right;
        width: 0;
    }

    .top-row[b-9gvj8xx0cb], article[b-9gvj8xx0cb] {
        padding-left: 2rem !important;
        padding-right: 1.5rem !important;
    }
}
/* /Shared/NavMenu.razor.rz.scp.css */
.navbar-toggler[b-phuu7v8r3x] {
    background-color: rgba(255, 255, 255, 0.1);
}

.top-row[b-phuu7v8r3x] {
    height: 3.5rem;
    background-color: rgba(0,0,0,0.4);
}

.navbar-brand[b-phuu7v8r3x] {
    font-size: 1.1rem;
}

.oi[b-phuu7v8r3x] {
    width: 2rem;
    font-size: 1.1rem;
    vertical-align: text-top;
    top: -2px;
}

.nav-item[b-phuu7v8r3x] {
    font-size: 0.9rem;
    padding-bottom: 0.5rem;
}

    .nav-item:first-of-type[b-phuu7v8r3x] {
        padding-top: 1rem;
    }

    .nav-item:last-of-type[b-phuu7v8r3x] {
        padding-bottom: 1rem;
    }

    .nav-item[b-phuu7v8r3x]  a {
        color: #d7d7d7;
        border-radius: 4px;
        height: 3rem;
        display: flex;
        align-items: center;
        line-height: 3rem;
    }

.nav-item[b-phuu7v8r3x]  a.active {
    background-color: rgba(255,255,255,0.25);
    color: white;
}

.nav-item[b-phuu7v8r3x]  a:hover {
    background-color: rgba(255,255,255,0.1);
    color: white;
}

@media (min-width: 641px) {
    .navbar-toggler[b-phuu7v8r3x] {
        display: none;
    }

    .collapse[b-phuu7v8r3x] {
        /* Never collapse the sidebar for wide screens */
        display: block;
    }
}
/* /Shared/SideMenu.razor.rz.scp.css */
.navbar[b-q2l3n2ewbu] {
    margin-left: 1rem;
    position: fixed;
    transition: width 600ms ease;
}

.navbar-nav[b-q2l3n2ewbu]{
    list-style: none;
    padding: 0;
    margin: 0;
    display: flex;
    flex-direction: column;
    height: 100vh;
    justify-content: center;
    align-items: center;
}

.nav-item[b-q2l3n2ewbu] {
    width: 100%;
    transition: 200ms;
}

.nav-link[b-q2l3n2ewbu] {
    display: flex;
    align-items: center;
    height: 5rem;
    color: var(--text-primary);
    text-decoration: none;
    color: var(--text-primary);
    filter: grayscale(100%) opacity(0.7);
    transition: var(--transition-speed);
    width: 100%;
}

.link-text[b-q2l3n2ewbu]{
    display:none;
}

.nav-link svg[b-q2l3n2ewbu] {
    width: 3rem;
    fill: var(--text-primary);
    min-width: 2rem;
    margin: 0 1rem;
    transition: 200ms;
}

/* Large Screens */
@media only screen and (min-width: 600px){
    .navbar[b-q2l3n2ewbu] {
        top: 0;
        width: 4rem;
        height: 100vh;
    }

    /*Animate navbar on hover*/
    .navbar:hover[b-q2l3n2ewbu] {
        width: 16rem;
    }

    .nav-item:hover[b-q2l3n2ewbu]{
        background: var(--bg-primary);
        border-radius: 25px;
        width: 100%;
        transition: 200ms;
    }

    .nav-link svg:hover[b-q2l3n2ewbu] {
        fill: white;
        transition: 600ms;
    }

    .nav-link:hover .link-text[b-q2l3n2ewbu] {
        padding: 10px;
        display: inline;
        color: white;
        transition: 300ms;
        text-decoration: none;
        margin-left: 1rem;
        margin-right: 1rem;
    }
}

/* Small Screens */
@media only screen and (max-width: 600px){
    .navbar[b-q2l3n2ewbu] {
        bottom: 0;
        width: 100vw;
        height: 6rem;
        background-color: var(--bg-primary);
    }

    .navbar-nav[b-q2l3n2ewbu]{
        margin: auto;
        flex-direction: row;
    }

    .nav-link[b-q2l3n2ewbu]{
        justify-content: center;
    }
}
